In [1]:
import requests
from bs4 import BeautifulSoup
from datetime import date
import pandas as pd
from transformers import pipeline

In [2]:
print("Total number of articles to extract : ")
num = input()
num = int(num)
num = num+1

Total number of articles to extract :
3

In [3]:
summarizer = pipeline("summarization")

No model was supplied, defaulted to t5-small (https://huggingface.co/t5-small)

Downloading:   0%|          | 0.00/1.17k [00:00<?, ?B/s]

Downloading:   0%|          | 0.00/231M [00:00<?, ?B/s]

All model checkpoint layers were used when initializing TFT5ForConditionalGeneration.

All the layers of TFT5ForConditionalGeneration were initialized from the model checkpoint at t5-small.
If your task is similar to the task the model of the checkpoint was trained on, you can already use TFT5ForConditionalGeneration for predictions without further training.

Downloading:   0%|          | 0.00/773k [00:00<?, ?B/s]

Downloading:   0%|          | 0.00/1.32M [00:00<?, ?B/s]

In [4]:
main_table=pd.DataFrame([],columns=['title','article'])
i = 1
while i < num:
    url = requests.get("https://en.wikipedia.org/wiki/Special:Random")
    soup = BeautifulSoup(url.content, 'html5lib')
    title = soup.find(class_ ="firstHeading").text
    url = "https://en.wikipedia.org/wiki/%s" % title
    text = soup.find('p').getText()
    if text is not None:
        string=''
        for data in soup.find_all('p'):
            string=string+data.text
        print(string)    
        summary=summarizer(string, max_length=200, min_length=30, do_sample=False)[0]['summary_text']    
        main_table=main_table.append({'title':title,'article':string,'summary_text':summary},ignore_index=True) 
        print(i, " Completed")
    else: 
        print(i, "Error Scrapping")
    i = i+1

James Bannon (born 6 March 1958) is a former Irish Fine Gael politician who served as a Teachta Dála (TD) for the Longford–Westmeath constituency from 2007 to 2016. He was a Senator for the Industrial and Commercial Panel from 2002 to 2007.[1]
A native of Legan, County Longford, he worked as a farmer and auctioneer before entering politics.
He was first elected to Longford County Council at the 1985 local elections for the Ballymahon local electoral area, and was successively re-elected to the County Council at the 1991 and 1999 local elections, receiving the largest number of first-preference votes in the electoral area on each occasion.[2] He has served as Chairperson of Longford County Council, becoming the youngest person ever to do so.
In 2002, he was elected to Seanad Éireann as a Fine Gael candidate for the Industrial and Commercial Panel. He stood down as a member of Longford County Council when legislation was introduced prohibiting serving members of the Oireachtas from being members of local authorities, and was succeeded by his brother, Larry. He was first elected to Dáil Éireann at the 2007 general election for Longford–Westmeath.
He served as the party deputy Spokesperson on Environment, with special responsibility for Heritage from 2007 to 2010. In October 2010, he was appointed as deputy spokesperson on Environment with special responsibility for Local and Community Development.
In 2012, he asked Bishop Colm O'Reilly to reconsider selecting an Italian organ maker to rebuild the organ in St Mel's Cathedral in Longford.[3]
During campaigning ahead of the 2016 general election, Gardaí gave Bannon a lift after he became involved in a dispute while canvassing in the Creevaghbeg estate area in Ballymahon, County Longford. An associate of Bannon was reported to have stolen election leaflets belonging to a rival candidate from local letter boxes.[4]
He lost his seat at the 2016 general election.[2] He subsequently failed to gain re-election to Seanad Éireann in April 2016.

1  Completed

Your max_length is set to 200, but you input_length is only 68. You might consider decreasing max_length manually, e.g. summarizer('...', max_length=50)

Asota chionea is a moth of the family Erebidae first described by Paul Mabille in 1878. It is found in Zaire.[1]

This Aganainae article is a stub. You can help Wikipedia by expanding it.
2  Completed

Your max_length is set to 200, but you input_length is only 52. You might consider decreasing max_length manually, e.g. summarizer('...', max_length=50)

Chesley (French pronunciation: ​[ʃɛlɛ]) is a commune in the Aube department in north-central France.


This Aube geographical article is a stub. You can help Wikipedia by expanding it.
3  Completed

In [5]:
main_table

,title,article,summary_text
0,James Bannon (Irish politician),\n\nJames Bannon (born 6 March 1958) is a form...,he served as a teachta Dála (TD) for the Longf...
1,Asota chionea,\nAsota chionea is a moth of the family Erebid...,asota chionea is a moth of the family Erebidae...
2,"Chesley, Aube",Chesley (French pronunciation: ​[ʃɛlɛ]) is a c...,a commune in the aube department in north-cent...

In [6]:
main_table.to_csv('final.csv',index=False)

In [7]:
sum_txt = main_table.drop(['title','article'], axis=1)

In [8]:
sum_txt

                                        summary_text
0  he served as a teachta Dála (TD) for the Longf...
1  asota chionea is a moth of the family Erebidae...
2  a commune in the aube department in north-cent...

In [13]:
sum_txt.to_csv(r'C:\Users\ktmat\Downloads\sum_txt.txt', header=None, index=None, sep=' ', mode='a')

## Cleaning Process

In [14]:
import nltk
nltk.download()

showing info https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/index.xml

True

In [21]:
filename = 'sum_txt.txt'
file = open(filename, 'rt')
text = file.read()
file.close()
# split into words
from nltk.tokenize import word_tokenize
tokens = word_tokenize(text)
# convert to lower case
tokens = [w.lower() for w in tokens]
# remove punctuation from each word
import string
table = str.maketrans('', '', string.punctuation)
stripped = [w.translate(table) for w in tokens]
# remove remaining tokens that are not alphabetic
words = [word for word in stripped if word.isalpha()]
# filter out stop words
from nltk.corpus import stopwords
stop_words = set(stopwords.words('english'))
words = [w for w in words if not w in stop_words]
print(words[:100])

['served', 'teachta', 'td', 'westmeath', 'constituency', 'senator', 'industrial', 'commercial', 'panel', 'elected', 'seanad', 'fine', 'gael', 'candidate', 'industrial', 'commercial', 'panel', 'asota', 'chionea', 'moth', 'family', 'erebidae', 'first', 'described', 'paul', 'mabille', 'commune', 'aube', 'department', 'northcentral', 'france', 'stub', 'help', 'wikipedia', 'expanding']

In [22]:
words

['served',
 'teachta',
 'td',
 'westmeath',
 'constituency',
 'senator',
 'industrial',
 'commercial',
 'panel',
 'elected',
 'seanad',
 'fine',
 'gael',
 'candidate',
 'industrial',
 'commercial',
 'panel',
 'asota',
 'chionea',
 'moth',
 'family',
 'erebidae',
 'first',
 'described',
 'paul',
 'mabille',
 'commune',
 'aube',
 'department',
 'northcentral',
 'france',
 'stub',
 'help',
 'wikipedia',
 'expanding']